<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="logStoreDirectory" value="."/>
    <!-- customer日志 -->
    <appender name="customerAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logStoreDirectory}\yl.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logStoreDirectory}\history\%d{yyyy-MM-dd}.yl.%i.log</fileNamePattern>
            <maxHistory>20</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.yl">
        <level value="INFO"/>
        <appender-ref ref="customerAppender"/>
    </logger>
    <root>
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>